.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.name{
  color: #73AD21;
  font-style:oblique;
  color: aliceblue;
}
.form{
    margin: auto;
    width: 60%;
    border: 2px solid #73AD21;
    padding: 10px;
    border-radius: 15px;
  
}
#User{
  margin: auto;
  width: 60%;
  border: 2px solid #73AD21;
  padding: 10px;
  border-radius: 15px;
}
#Order{
  
  margin: auto;
  width: 60%;
  border: 2px solid #73AD21;
  padding: 10px;
  border-radius: 15px;

}
ord{
  width: 50%;
  border-radius: 15px;
}
body{
  background-color: #9fd142;
  color: white;
}
.button{
  width: 50%;
  border: 1px solid;
  cursor: pointer;
  padding: 16px;
  font-size: 16px;
  border-radius: 15px;
}
.dessert{
  width: 25%;
  border: 1px solid;
  cursor: pointer;
  padding: 16px;
  font-size: 16px;
  border-radius: 15px;
}
.boisson{
  width: 25%;
  border: 1px solid;
  cursor: pointer;
  padding: 16px;
  font-size: 16px;
  border-radius: 15px;
}
#invoice{
  margin: auto;
  width: 60%;
  border: 2px solid #73AD21;
  padding: 10px;
  border-radius: 15px;
}