.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
#nav{
  margin-bottom: 150px;
}
#foot{
  margin-bottom: 1000px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

footer{
  position:top;
  bottom: 0;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.name{
  color: #73AD21;
  font-style:oblique;
  text-align: center;
  margin: auto;
}
.form{
    margin: auto;
    width: 60%;
    border:  #73AD21;
    padding: 10px;
    border-radius: 15px;
  
}
#User{
  margin: auto;
  width: 60%;
  border: 2px solid #73AD21;
  padding: 10px;
  border-radius: 15px;
}
#Menu{
  margin: auto;
  width: 100%;
  border: 2px #73AD21;
  padding: 10px;
  border-radius: 15px;
}
#Order{
  
  margin: auto;
  width: 60%;
  border: 2px solid #73AD21;
  padding: 10px;
  border-radius: 15px;

}
#Card{
  margin: auto;
  width: 60%;
  border: 2px solid #73AD21;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 150px;
}
.delete{
  margin: auto;
  width: 13%;
  border: 2px solid #73AD21;
  padding: 2px;
  border-radius: 15px;
}
.ingre{
  margin: auto;
  width: 20%;
  border: 2px solid #73AD21;
  padding: 5px;
  border-radius: 15px;
}
body{
  background-color: #9fd142;
  color: white;
}
.button{
  width: 50%;
  border: 1px solid;
  cursor: pointer;
  padding: 16px;
  font-size: 16px;
  border-radius: 15px;
}
.dessert{
  width: 25%;
  border: 1px solid;
  cursor: pointer;
  padding: 16px;
  font-size: 16px;
  border-radius: 15px;
}
.boisson{
  width: 25%;
  border: 1px solid;
  cursor: pointer;
  padding: 16px;
  font-size: 16px;
  border-radius: 15px;
}
#invoice{
  margin: auto;
  width: 60%;
  border: 2px solid #73AD21;
  padding: 10px;
  border-radius: 15px;
}
#ingredients{
  margin: auto;
  width: 60%;
  border: 2px solid #73AD21;
  padding: 10px;
  border-radius: 15px;
}
.order{
  margin-left: auto;
  width: 33%;
  border: 2px solid #73AD21;
  padding: 10px;
  border-radius: 15px;
}
#recap{
  margin: auto;
  width: 60%;
  border: 2px solid #73AD21;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 150px;
}
h1{
  text-align: center;
}